{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bots/style.css' %}">

<h1>{{ title }}</h1>

<a href='..'>Return to Index</a>

<p>
{% if preceding > 0 %}
Previous: <a href='../{{ preceding }}'>Canto {{ preceding_roman }}</a>
{% elif preceding == 0 %}
Previous: <a href='../{{ preceding }}'>Introduction and Background</a>
{% endif %}
{% if proceeding %}
Next: <a href='../{{ proceeding }}'>Canto {{ proceeding_roman }}</a>
{% endif %}
</p>

<hr>

{% autoescape off %}
{% if proceeding != 1 and not english_only %}
<table>
    <tr>
    <td>
        {{english}}
    </td>
    <td>
        {{italian}}
    </td>
    </tr>
</table>
{{footnotes}}
{% else %}

{{english}}

{{footnotes}}

{% endif %}


<hr>

{% if preceding %}
Previous: <a href='../{{ preceding }}'>Canto {{ preceding }}</a>
{% endif %}
{% if proceeding %}
Next: <a href='../{{ proceeding }}'>Canto {{ proceeding }}</a>
{% endif %}

{% endautoescape %}