{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">

<nav>
	<a href='/'>Home</a>
	<a href='/blog'>Blog</a>
    </nav>

<h1>Blog Posts</h1>

    <h3><a href="{% static 'blog/hand-plane/index.html' %}">Hand Planes</a></h3>
    In which I restore some old handplanes
    <img src="{% static 'blog/hand-plane/family-diagonal.jpg' %}">
    <h3><a href="{% static 'blog/charcuterie-board/index.html' %}">Charcuterie Board</a></h3>
    I make a simple accessory for my family
    <img src="{% static 'blog/charcuterie-board/final-front.jpg' %}">
    <h3><a href="{% static 'blog/cubano_bread/index.html' %}">Cubano Bread</a></h3>
    Yummy bread
    <img src="{% static 'blog/cubano_bread/cuban_bread.jpg' %}">
    <h3><a href="{% static 'blog/mandelbrot/index.html' %}">Mandelbrot Visualizations</a></h3>
    I make a mandelbrot visualizer and get sp00ked
    <img src="{% static 'blog/mandelbrot/5.png' %}">
</ul>




